<h1>Student Scanning ...</h1>

<table class="table" style="width:100%">
	<tr>
		<td colspan="2">header here.</td>
	</tr>
	<tr>
		<td colspan="2">header here.</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="submit">
		</td>
	</tr>

</td></tr></table>{# 
	    <a href="{{ path('student_index') }}" class="btn btn-info">back to list</a>
	
	    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-warning">edit</a>
	
	  #}
